<form method="POST" action="/figures/<%= @figure.id %>">
  <input type="hidden" name="_method" value="patch">

  <p>Name <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>"></p>

  <p>Edit Landmarks</p>

  <% Landmark.all.each do |landmark| %>
  <p><%= landmark.name %><input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="<%= landmark.name %>" <%='checked' if @figure.landmarks.include?(landmark) %>> </p>
  <% end %>

  <p>Add New <input type="text" id="new_landmark" name="landmark[name]"></p>


  <p>Edit Titles</p>
  <% Title.all.each do |title| %>
    <p><%= title.name %><input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="<%= title.name %>" <%='checked' if @figure.titles.include?(title) %>></p>
  <% end %>
  <p>Add New Title: <input type="text" id="new_title" name="title[name]"></p>

  <input type="submit" value="Edit Figure">

</form>
