<form method="POST" action="/figures">
  <p>Name: <input type="text" id="figure_name" name="figure[name]"></p>

  <p>Titles: </p>
  <% Title.all.each do |title| %>
  <input id="title_<%= title.id %>" type="checkbox" name="figure[title_ids][]" value="<%= title.id %>"><%= title.name %></input>
  <% end %>

  <p>Create New Title<input type="text" id="new_title" name="title[name]"></p>

  <p>Landmarks: </p>
  <% Landmark.all.each do |landmark| %>
  <input id="landmark_<%= landmark.id %>" type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>"><%= landmark.name %></input>
  <% end %>

  <p>Create new Landmark: </p>
  <input type="text" id="new_landmark" name="landmark[name]">


  <input type="submit" value="Create New Figure">

</form>
